.book-add {
    margin: 15px 0 20px 0;
}

.book-item {
    position: relative;
}

.button-close {
    position: absolute;
    right: 5px;
}

.book-display {
    background-color: aliceblue;
    padding: 25px;
}